.contenedor-principal{
    max-width: 1240px;
    margin: auto;
}

.header{
    height: 110px;
    box-shadow: 0px 0.4px 1px 0px rgb(0, 0, 0, .25);
}

.header__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__logo{
    text-decoration: none;
    font-weight: bold;
}

.header__titulo{
    font-size: 48px;
    color: #5800FF;
}

.header__opciones{
    display: flex;
    list-style: none;
    gap: 24px;
}

.header__opcion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 50px;
    border: 2px solid #5800FF;
    border-radius: 15px;
    box-shadow: 0px 3px 3px 0px rgb(0, 0, 0, .27);
}

.header__opcion--background-purple{
    background-color: #5800FF;
}

.header__link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: #5800FF;
    height: 100%;
    width: 100%;
}

.header__link--color-white{
    color: #ffffff;
}

.banner{
    height: 600px;
}

.banner__top{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 370px;
    gap: 24px;
}

.banner__info{
    width: 420px;
    height: 280px;
}

.banner__titulo{
    font-size: 36px;
}

.banner__titulo--color-purple{
    color: #5800FF;
}

.banner__parrafo{
    text-align: justify;
    font-size: 20px;
    margin: 20px 0px;
}

.banner__button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 185px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid #5800FF;
    border-radius: 15px;
    background-color: #5800FF;
    box-shadow: 0px 3px 3px 0px rgb(0, 0, 0, .27);
}

.banner__img{
    object-fit: cover;
    width: 400px;
    height: 280px;
    border-radius: 10px;
}