.contenedor-principal{
    max-width: 1240px;
    margin: auto;
}

.header{
    height: 110px;
    box-shadow: 0px 0.4px 1px 0px rgb(0, 0, 0, .25);
    padding: 0px 20px;
}

.header__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__logo{
    text-decoration: none;
}

.header__titulo{
    font-size: 48px;
    font-weight: bold;
    color: #5800FF;
}

.header__opciones{
    display: flex;
    list-style: none;
    gap: 24px;
}

.header__opcion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 50px;
    border: 2px solid #5800FF;
    border-radius: 15px;
    box-shadow: 0px 3px 3px 0px rgb(0, 0, 0, .27);
}

.header__opcion--background-purple{
    background-color: #5800FF;
}

.header__link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: #5800FF;
    height: 100%;
    width: 100%;
}

.header__link--color-white{
    color: #ffffff;
}

.banner{
    height: 600px;
}

.banner__top{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 370px;
    gap: 24px;
    padding: 20px;
}

.banner__info{
    width: 420px;
    height: 280px;
}

.banner__titulo{
    font-size: 36px;
}

.banner__titulo--color-purple{
    color: #5800FF;
}

.banner__parrafo{
    text-align: justify;
    font-size: 20px;
    margin: 20px 0px;
}

.banner__button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 185px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid #5800FF;
    border-radius: 15px;
    background-color: #5800FF;
    box-shadow: 0px 3px 3px 0px rgb(0, 0, 0, .27);
}

.banner__img{
    object-fit: cover;
    width: 400px;
    height: 280px;
    border-radius: 10px;
}

.banner__bottom{
    height: 230px;
}

.banner__wave{
    fill: #5800FF;
}

.main-contenido{
    margin-top: 40px;
    padding: 0px 80px;
}

.main-contenido__titulo{
    font-size: 32px;
    text-align: center;
}

.main-contenido__titulo--color-purple{
    color: #5800FF;
}

.main-contenido__parrafo{
    font-size: 24px;
    text-align: center;
    color: #0096FF;
    margin-bottom: 50px;
}

.main-contenido__ventaja{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 100px;
}

.main-contenido__info{
    text-align: justify;
}

.main-contenido__info--invertir-orden{
    order: 2;
}

.main-contenido__nombre{
    font-size: 32px;
    color: #0096FF;
    margin-bottom: 20px;
}

.main-contenido__descripcion{
    font-size: 20px;
}

.main-contenido__img{
    width: 320px;
    height: 320px;
    margin-left: auto;
}

.main-contenido__img--no-margin{
    margin: 0;
}

.footer{
    height: 110px;
    background-color: #5800FF;
    padding: 0px 20px;
}

.footer__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer__logo{
    text-decoration: none;
}

.footer__titulo{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

.footer__button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 185px;
    height: 50px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0px 3px 3px 0px rgb(0, 0, 0, .27);
}

/* Tablet */

@media (max-width: 878px){
    .header{
        height: auto;
    }

    .header__main{
        flex-direction: column;
        padding: 20px 0px;
    }

    .header__menu{
        margin-top: 20px;
    }

    .banner{
        height: auto;
    }

    .banner__top{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .banner__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        padding: 0px 80px;
        margin-bottom: 20px;
    }

    .banner__img{
        width: 100%;
        height: 380px;
        border-radius: 0px;
        order: -1;
    }

    .main-contenido__ventaja{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        gap: 20px;
    }

    .main-contenido__nombre{
        text-align: center;
    }

    .main-contenido__img{
        margin-left: 0;
        order: -1;
    }

    .footer{
        height: auto;
        margin-top: 100px;
    }

    .footer__contenedor{
        flex-direction: column;
        padding: 20px 0px;
    }

    .footer__button{
        margin-top: 15px;
    }
}


/* Movil */

@media (max-width: 500px){
    .header__opciones{
        flex-direction: column;
        gap: 15px;
    }

    .banner__info{
        padding: 0px 30px;
    }

    .banner__bottom{
        height: 180px;
    }

    .main-contenido{
        padding: 0px 30px;
    }
}